<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
</head>
<body>
    <h1>User Data</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Bus Name</th>
                <th>Phone Number</th>
               
                <!-- Add more fields as needed -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ c.name }}</td>
                <td>{{ c.email }}</td>
                <td>{{ c.busname }}</td>
                <td>{{ c.phonenumber }}</td>
                <!-- Display more fields as needed -->
            </tr>
        </tbody>
    </table>
</body>
</html>
